<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
   

      <div id="create">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                        <form id="ticket-form" class="form" action="/createticket" method="post">
                            <h3 class="text-center text-info">CREATE TICKET</h3>

                            <div class="form-group">
                                <label for="costumer_name" class="text-info">Username:</label><br>
                                <input type="text" name="costumer_name" id="costumer_name" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                <input type="text" name="email" id="email" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="title" class="text-info">Title:</label><br>
                                <input type="text" name="title" id="title" class="form-control" required>
                            </div>

                            <div class="form-check">

                                <label for="priority" class="text-info">PRIORITY:</label><br>
                                <input class="form-check-input" type="radio" name="priority" id="low" value="LOW" checked>
                                <label class="form-check-label" for="low">
                                  LOW
                                </label>
                              </div>

                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="priority" id="normal" value="NORMAL">
                                <label class="form-check-label" for="normal">
                                  NORMAL
                                </label>
                              </div>

                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="priority" id="high" value="HIGH">
                                <label class="form-check-label" for="high">
                                  HIGH
                                </label>
                              </div>

                            <div class="form-group">
                                <label for="title" class="text-info">problem:</label><br>
                                <textarea class="form-control" name="problem" id="problem" rows="3"></textarea>
                            </div>

                            <br>
                            <br>

                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>

                        </form>
                    </div>
                  </div>
            </div>
          </div>
        </div>

</body>
</html>