<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/style.css">
    
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="wrapper">

      <%- include('./partials/sidebar.ejs') %>
    
  
      <!-- Page Content -->
      <div id="content">
          
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button  id="sidebarCollapse" class="btn " style="font-size: 30px;" >
                    <i class="align-left"></i>
                    <span>Overview</span>
                </button>
            </div>
        </nav>
      </div>
      
      <%- include('./partials/userbar.ejs') %>

        <div class="container-fluid">
          <div class="row">
            
              <div class="col-sm-3">
                <div class="card text-center">
                  <div class="card-body">
                  <h5 class="card-title">UNRESOLVED</h5>
                  <p class="card-text" style="font-size: 60px;">60</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">OVERDUE</h5>
                  <p class="card-text" style="font-size: 60px;" >16</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="card text-center" >
                <div class="card-body">
                  <h5 class="card-title">OPEN</h5>
                  <p class="card-text" style="font-size: 60px;">43</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">ON HOLD</h5>
                  <p class="card-text" style="font-size: 60px;">64</p>
                </div>
              </div>
            </div>

          </div>  
        </div>

      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col">
        
            <div class="card-group">

                <div class="card" style="flex-grow: 4">
                  <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <canvas id="myChart"></canvas>
                  </div>
                </div>

                <div class="card text-center " >

                  <div class="card-body">
                  <h5 class="card-title" >Resolved</h5>
                  <p class="card-text"style="font-size: 24px;" ><b>449</b></p>
                  </div>

                  <div class="card-body">
                  <h5 class="card-title" >Received</h5>
                  <p class="card-text" style="font-size: 24px;"><b>426</b></p>
                  </div>

                  <div class="card-body">
                  <h5 class="card-title" >Avarage first response time</h5>
                  <p class="card-text"  style="font-size: 24px;"><b>33m</b></p>
                  </div>

                  <div class="card-body">
                  <h5 class="card-title" >Avarage response time</h5>
                  <p class="card-text" style="font-size: 24px;"><b>3h 8m</b></p>
                  </div>

                  <div class="card-body">
                  <h5 class="card-title">Resolution within SLA</h5>
                  <p class="card-text"style="font-size: 24px;" ><b>94%</b></p>
                  </div>
                </div>

            </div>
         
          </div>
        </div>
      </div>

      <div class="container-fluid mt-3 mb-3">
        <div class="row">
          <div class="col">
            <div class="card-group">

              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">Unresolved ticket <span style="float: right; width:15%; display: inline-block; color: #3751ff;"> <a href="#"> View details </a></span></h5>
                  <p class="card-text">Group: <strong>Support</strong></p>
                  <br>
                    <table class="table table-hover">
                    
                      <tbody>
                        <tr>
                          
                          <td style="padding: 15px;" > <a href="#">Waiting on Feature Request </a></td>
                          <td > <a href="#"style="float: right; " > 3000</a></td>
                        </tr>
                        <tr>
                        
                          <td style="padding: 15px;"><a href="#" > Costumer response </a></td>
                          <td > <a href="#"style="float: right; " > 3000</a></td>
                          
                        </tr>
                        <tr>
                          
                          <td style="padding: 15px;"><a href="#">Awaiting Developer Fix </a></td>
                          <td > <a href="#"style="float: right; " > 3000</a></td>
                          
                        </tr>
                        <tr>
                          
                          <td style="padding: 15px;"><a href="#" >Pending</a></td>
                          <td > <a href="#"style="float: right; " > 3000</a></td>
                          
                        </tr>
                      </tbody>
                    </table>

                </div>
              </div>
          

          
            <div class="card">
              <div class="card-body">
                
                <h5 class="card-title">Tasks <span style="float: right; width:10%; display: inline-block; color: #3751ff;"> <a href="#"> View all </a></span></h5>
                <p class="card-text">Today</p>
                <br>
                
                  <table class="table table-hover">
                  
                    <tbody>

                      <tr >
                      
                        <td style="padding: 15px;">
                          <a href="#"> Create new task</a>
                        </td>
                        <td > 
                          
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16" style="float: right;">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                         
                        </td>
                        
                      </tr>
                      <tr>
                      
                        <td style="padding: 15px;">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <span class="custom-control-label" for="customCheck3">Finish ticket update</span>
                        </td>
                        <td > 
                          <a href="#"style="float: right; " class="oval-border" > URGENT</a>
                        </td>
                        
                      </tr>
                      <tr>
                        
                        <td style="padding: 15px;">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <span class="custom-control-label" for="customCheck3">Create new ticket example</span>
                        </td>
                        <td > 
                          <a href="#"style="float: right; " >NEW</a>
                        </td>
                        
                      </tr>
                      <tr>
                        
                        <td style="padding: 15px;">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <span class="custom-control-label" for="customCheck3">Update ticket report</span>
                        </td>
                        <td > <a href="#"style="float: right; " >DEFAULT</a></td>
                        
                      </tr>
                    </tbody>
                  </table>

              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
       
       
        
      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
   
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="/script/dashboard/dashboard.js"> </script>
    
    
  </body>
</html>