<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    
    <link rel="stylesheet" href="/styles/style.css">
  
</head>
<body>
    <div class="wrapper">
        <%- include('./partials/sidebar.ejs') %>
        <div id="content">
            
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button  id="sidebarCollapse" class="btn " style="font-size: 30px;" >
                    <i class=" align-left"></i>
                    <span>Ticket</span>
                </button>
            </div>
        </nav>
        </div>
        <%- include('./partials/userbar.ejs') %>


        
        <div class="container-fluid">
            <div class="card">
                
                <div class="card-body">
                  <h5 class="card-title">All tickets</h5>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Ticket Details</th>
                        <th scope="col">Costumer name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Priority</th>
                        <th scope="col"></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i=0; i<ticket.length; i++) { %>
                      <tr>
                        <td>
                          <button type="button" class="btn" style="" data-toggle="modal" data-target="#exampleModalCenter<%=i%>" id="x">
                            <%= ticket[i].title %>
                          </button>
                        </td>
                        <td><%= ticket[i].costumer_name %></td>
                        <td><%= ticket[i].createdAt %></td>
                        <td><%= ticket[i].priority  %></td>
                        <td>
                          <button type="button" class="btn btn-danger" id="delete" onclick="return confirm('Are You sure?')" value="delete ticket">
                            <a href="<%=ticket[i].id%>">
                              close ticket
                            </a>
                          </button>
                        </td>
                      </tr>

                      <div class="modal fade" id="exampleModalCenter<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Message:</h5>
                            </div>
                            <div class="modal-body">
                              <%= ticket[i].problem %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    <%}%>
                    </tbody>
                  </table>
                </div>
                
                
              </div>
        </div>
    </div>
    
    

</body>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/script/dashboard/dashboard.js"> </script>

</html>