<div class="container-fluid">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify-content-end">
       
         

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
          <ul class="navbar-nav" >

            <li class="nav-item active ">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                </svg>
              </a>
            </li>
           
            <li class="nav-item" style="margin-left: 40px;">
              <% if (login) { %>
              <a class="nav-link"  style="font-size: medium;" href="#"><%= username %></a>
              <% } %>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link " href="#"  role="button">
                <img class="rounded-circle img-thumbnail" style="width: 400%;" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
          data-holder-rendered="true">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>