.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}




body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

#sidebar p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background:#2f3341;;
    color: gray;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:#2f3341;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: gray;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.9em;
    display: block;
    
}
#sidebar ul li a:hover {
    color: #2f3341;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #2f3341;;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background:#2f3341;;
}
#sidebar li {


left: 10px;
right: 0px;
top: 0px;
bottom: 10px;

}

.table > thead > tr:first-child > td, 
.table > tbody > tr:first-child > td {
    border: none;
}

 .img-thumbnail {
    max-width: 20px;
    height: 8;
    
    border-radius: 50%;  
}

#oval-border{
    border-radius: 5px;
  background: #73AD21;
  padding: 5px;
  width: 5px;
  height: 5px;
}